@font-face {
    font-family: entypo;
    src: url('entypo.woff');
}
html, body {
    margin: 0;
    padding: 0;
}
.main-editor {
    position: relative;
    width: 45vw;
    height: 70vh;
}
#code-area {
    float: left;
    width: 45vw;
}
#output_area {
    float: left;
}
#stderr_txt{
    width: 60vw;
    font-family: Monospace;
    height: 17vh;
    display: none;
}
#stderr_list {
    width: 60vw;
    font-family: Monospace;
    list-style-type: none;
    margin-left: 1ex;
    white-space: pre-wrap;
}
#stderr_list li {
    max-width: 60vw;
}
#stderr_area {
    clear: left;
    float: left;
    border-top: 1px solid gray;
    clear: both;
    overflow: auto;
    height: 18vh;
    width: 67vw;
}
#job_block {
    display: block;
    float: right;
    width: 28vw;
    background: #ddd;
    height: 17vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#job_block li {
    transition: margin-left 0.75s ease-in;
}
#job_block li.good {
    color: green;
}
#job_block li.bad {
    color: red;
}
#job_block li.done {
    margin-left: -150%;
}
#job_block li.running {
    color: blue;
}
#statusbar {
    background: #eee;
    border-top: 1px solid #bbb;
    clear:both;
}
#output-select {
    margin-left: 45vw;
}
#stdout_txt {
    width: 45vw;
    height: 70vh;
}
#output_area canvas {
    width: 45vw;
    height: 45vw;
    max-height: 70vh;
    border: 1px solid black;
}
#output_options {
    width: auto;
    position: absolute;
    top: 0px;
    left: 70vw;
}
.exception-popup ol, .exception-popup ul {
    list-style-type: none;
}
.exception-popup dl {
    margin-left: 2cm;
}
.exception-popup button {
    float: right;
}
#toolbar {
    background: #ddd;
    border-bottom: 1px solid white;
}
#runbutton {
    color: green;
}
#module-tabbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.module-tabbutton {
    border-width: 2px;
    float: left;
    margin-right: 3px;
    padding: 2px;
    border-style: solid;
    border-color: #bbb;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
    height: 2ex;
    border-bottom: 1px solid #bbb;
    transition: border-color 0.25s;
}
.module-tabbutton.active {
    border-color: #99d;
    font-weight: bold;
    border-bottom-color: white !important;
}
.module-tabbutton.compiling {
    border-color: orange;
}
.module-tabbutton.success {
    border-color: #0f0;
}
.module-tabbutton:hover {
    border-color: #cc7;
}
.module-tabbutton.error {
    border-color: red;
}
.module-tabbutton .close-button {
    font-family: entypo;
    font-size: 150%;
    line-height: 50%;
}
.module-tabbutton .close-button:hover {
    color: #f44;
}
#module-tabbar-new {
    float: right;
    border-bottom-width: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#module-tabbar-new:hover {
    background: #eee;
}
#aboutbutton {
    float: right;
}
#toolbar button {
    padding: 0;
    position: relative;
    font-size: 21px;
    margin: 0;
    border: 0;
    background: none;
}
#toolbar button#uploadbutton, #toolbar #downloadbutton {
    font-family: entypo;
    font-size: 25px;
}
#downloadbutton {
    color: black;
    text-decoration: none;
}
.popup-box {
    z-index: 1000;
    border: 5px solid #99c;
    background: #eee;
    position: absolute;
    max-width: 40%;
    max-height: 40%;
    overflow-y: auto;
    left: 35%;
    top: 20%;
    padding: 2mm;
    padding-right: 2cm;
}
.popup-box .close-button {
    font-family: entypo;
    font-size: 2cm;
    line-height: 50%;
    position: absolute;
    top: 0mm;
    right: 0mm;
    border: 0;
    background: transparent;
}
.popup-box .close-button:hover {
    color: #f44;
}
#restore-prompt {
    position: absolute;
    background: #ff8;
    border-radius: 5px;
    left: 40vw;
    top: 5px;
    text-align: center;
}
